.my_group {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.mygroup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.left_navigation {
    width: 20%;
    background-color: #f8f0f0;
    height: 100vh;
    z-index: 0;
}

.group_members {
    width: 80%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.Assignments {
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}

.members_and_answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    overflow: auto;
}

.members {
    width: 40%;
    height: auto;
}
.members h3{
    text-align: start;
}
.members li{
    text-align: start;
    padding: 0.5rem;
}
.group_admin{
    color: #fff;
    font-size: .6rem;
    background-color: #0d9918;
    border-radius: 4px;
    width: 5rem;
    font-weight: 600;
   
}

.answer_form {
    width: 40%;
    height: auto;
}
.answer_form h3{
    text-align: start;
}
.answer_form .question{
    color: #646464;
    text-align: start;
    width: 100%;
}
.assignment_text{
    width: 70%;
    padding: 4rem;
    border: 1px solid #b8b8b8ee;
    outline: none;
}

.submit_assignment{
    margin: .5rem;
    float: left;
    width: 6rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #0d9918;
    padding: .6rem;
}
.discussions{
    display: block;
    width: 90%;
    padding: 1rem;
}
.discussions h3{
    text-align: start;
}
.member_answer{
    text-align: start;
}
.member_answer p{
    color: #646464;
}
.discussion_actions{
    display: block;
}
.discussion_actions li{
    float: right;
    color: #0d9918;
    list-style-type: none;
    margin: 1rem;
    cursor: pointer;
}
