.mail{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.mail_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail_left_nav {
    width: 20%;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    background-color: #f8f0f0 !important;
    z-index: 0;
    border: none;
}
.mail_body{
    width: 80%;
    height: 100vh;
    z-index: 0;
}
.mail_component{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}