.nav{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: auto;
    overflow: hidden;
    background-color: #f8f0f0;
}
.top{
    display: block;
}
.top li{
    list-style-type: none;
    padding: 1.5rem;
    text-align: start;
    color: #494949;
    font-size: 1.4rem;
    cursor: pointer;
}
.top li:hover{
    background-color: #0d9918;
    width: 100%;
    color: #fff;
}
.user{
    margin-bottom: 2rem;
}
.settings{
    z-index: 0;
    position: relative;
    bottom: 0;
    top: 90%;
    overflow: hidden;

    
}