.notification_popup {
    -webkit-backdrop-filter: blur(20px);
    width: 400px;
    height: 500px;
    position: absolute;
    overflow: auto;
    background-color: #fff;
    left: 70%;
    top: 9%;
    border: 14px;
    box-shadow: #8a8888ee 7px 5px 10px 1px;
    border-radius: 16px;
}

.notification_popup::-webkit-scrollbar {
    width: 5px;
}