.dashboard{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.left_nav{
    width: 5%;
    overflow: hidden;
    border-right: 1px solid #eeeeee;
    box-sizing: border-box;
}
.messages_container{
    width: 25%;
    border-right: 1px solid #eeeeee;
    height: 100vh;
    overflow: auto;
}
.messages_container::-webkit-scrollbar{
   width: 5px;
   

}
.message_body{
    width: 45%;
    border-right: 1px solid #eeeeee;;
    height: 100vh;
    background-color: rgb(255, 254, 247);

}
.profile{
    width: 30%;
    border-left: #eeeeee;
    height: 100vh;
}