.mail_msg_page{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}
.mail_msg_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left_side{
    width: 20%;
    background-color: #363636;
    height: 100vh;
    z-index: 0;
}
.mail_msg_content{
    width: 80%;
    z-index: 0;
    height: 80vh;
    overflow: auto;
}