.conversation_body {
    overflow: hidden;
}

.body_navigation {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid #eceaea;
    background-color: #fff;
    padding: .2rem;
}

.recipient_avatar {
    margin-top: 0.3rem;
    overflow: hidden;
    border: 1px solid #7c7c7c;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.recipient {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipient_title {
    width: 50%;
    padding: 0.5rem;
    margin-left: .5rem;
}

.recipient_title li {
    text-align: start;
    list-style-type: none;
}

.recipient_title .recipient_names {
    font-size: 1rem;
    font-weight: 800;
}

.recipient_title .recipient_status {
    color: #a5a5a5;
    font-size: .8rem;
}

.actions {
    padding: 1rem;
    width: 35%;
}

.actions .icon {
    color: #8eb191;
    padding: 1rem .5rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.actions .icon:hover {
    color: #0d9918;
}

/* Styling the conversations  */
.conversations {
    display: block;
    position: relative;
    padding: 1rem;
    overflow: auto;
    height: 72vh;
    background-color: rgb(255, 247, 234);
    z-index: 0;
}

.conversations::-webkit-scrollbar {
    width: 5px;
}

.recipients_msg {
    display: block;
    width: 300px;
    padding: .5rem;
    float: left;
    text-align: start;
    margin: 1rem;
}

.recipients_msg .msg {
    border: none;
    background-color: #8eb191;
    box-shadow: #d8d8d8 3px 0px 20px 10px;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    list-style-type: none;
    padding: 1rem;
    color: #fff;
}

.recipients_msg .msg_status {
    list-style-type: none;
    color: #7c7c7c;
    font-size: .8rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.my_msg {
    display: block;
    float: right;
    text-align: start;
    width: 300px;
    margin: 1rem;
}


.my_msg .my_msg_text {
    display: block;
    list-style-type: none;
    background-color: #fff;
    box-shadow: #d8d8d8 3px 0px 20px 10px;
    padding: 1rem;
    width: auto;
    height: auto;
    color: #000000;
    font-weight: 500;
    font-size: .9rem;
    border: none;
    border-radius: 20px;
}

.my_msg .msg_status {
    list-style-type: none;
    color: #7c7c7c;
    font-size: .8rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.inputs {
    width: 40.7%;
    background-color: #fff;
    z-index: 1;
    padding: 1rem;
    border-top: 1px solid #eceaea;
    bottom: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

.text_field {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    background-color: #eeeeee;
    border-radius: 16px;
}

.file_upload .myfile {
    font-size: 1.2rem;
    cursor: pointer;
}

.text_field .message_field {
    padding: .5rem;
    width: 60%;
    border: none;
    background-color: #eeeeee;
    outline: none;
}

.emoji {
    padding: 1rem;
    cursor: pointer;
}

.emoji .emoji_picker {
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
}

.recorder {
    padding: 0.2rem;
}

.send_btn {
    padding: .6rem;
}

.send_btn button {
    border: none;
    font-size: 1.3rem;
    color: #fff;
    background-color: #0d9918;
    border-radius: 50%;
    float: right;
    padding: 0.3rem .5rem;
    cursor: pointer;
}

.hidden {
    display: none;
}

.picker {
    position: absolute;
    top: -500%;
    opacity: .9;
    left: 40%;
}